# Decision Trees

<img src="https://media.giphy.com/media/hqUxZmsgSjeMqOkzh4/giphy.gif" width=250 align = right>

1. Decision trees are supervised models.
1. Can be used for Both classification/regression tasks.
1. They are simple tree like structure (hierarchical in nature).
1. Decision trees can be thought as nested if else conditions. 
1. Highly interpretable models, easy to explain the workings.

<br><br>

# Why Decision Trees are popular?
1. Easy to interpret and represent.
1. Mimic human level thought. tries to take decisions like a human does.
1. Ensemble models are made up of Decision trees that performs even better than individual Decision trees.
1. When feature are categorical, Decision Trees are preffered over other models.

# Decision Tree Example

Q- Solve a Business Problem that wants to Predict whether a user clicks on an avdertisement of a car or not?

<img src="https://media.giphy.com/media/6swcfDQHr3UTm/giphy.gif" width=400 align = right>

<br><br>

| Sex      | Income | alreadyCar      | Techy | Age |
| ----------- | ----------- | ----------- | ----------- | ----------- |
| M      | <=5L       | Yes | Yes | 18-25
| F      | 5L-15L       | No | No | 25-50
|        | 15L+       |  |  | 50+

<br>
<img src="https://media.giphy.com/media/AO1rZwtl5qRJC/giphy.gif" width=200 align=left>
    
       Entropy is measure of randomness of a system.
     
     
<img src="./imgs/entropy.png" width=300> <br>

# CODE : Entropy

In [1]:
import numpy as np
np.set_printoptions(legacy='1.25')

In [2]:
def entropy(var):
    N = var.shape[0]
    values, counts = np.unique(var, return_counts=True )
    
    ent = 0.0
    
    for i in counts:
        p = i/N
        ent += (p * np.log2(p))
        
    return -ent

In [3]:
Y = np.array([1,0,0,1,0,1,0,1])

In [4]:
X = np.array([1,1,1,1,1,1,1])

In [5]:
entropy(Y)

1.0

In [6]:
entropy(X)

-0.0

# Information Gain


<img src="https://media.giphy.com/media/8ZhxIppeXmBw606oUR/giphy.gif" width=300 align = right>

<br><br>
$$ Gain(Y, A)  = H_D(Y) - \sum_{i=1}^{k} \frac{|D_i|} {|D|}{ H_{D_i}(Y)} $$

# Golf Dataset

<img src="./imgs/golf.png" width=500 align = left>

# CODE : Split Data

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('golf.csv')

In [9]:
df.head(15)

     Outlook Temperature Humidity  Windy Play
0      sunny         hot     high  False   no
1      sunny         hot     high   True   no
2   overcast         hot     high  False  yes
3      rainy        mild     high  False  yes
4      rainy        cool   normal  False  yes
5      rainy        cool   normal   True   no
6   overcast        cool   normal   True  yes
7      sunny        mild     high  False   no
8      sunny        cool   normal  False  yes
9      rainy        mild   normal  False  yes
10     sunny        mild   normal   True  yes
11  overcast        mild     high   True  yes
12  overcast         hot   normal  False  yes
13     rainy        mild     high   True   no

In [10]:
value_counts = df['Outlook'].value_counts()
print(value_counts)
print(list(value_counts.index))
print(list(value_counts))

Outlook
sunny       5
rainy       5
overcast    4
Name: count, dtype: int64
['sunny', 'rainy', 'overcast']
[5, 5, 4]

In [11]:
def divide_data(data, feature):
    # here we are working data frames.
    # Create Data dictionary
    DATA = {}
    
     # Pre-calculate counts to avoid re-calculating in the loop
    value_counts = data[feature].value_counts()
    feat_values = list(value_counts.index)
    occurence = list(value_counts)

    for val in feat_values:
        # Initialize with an empty list for data, and set 'len'
        DATA[val] = {'data_list': [], 'len': occurence[feat_values.index(val)]}
        
    for ix in range(data.shape[0]):
        val = data[feature].iloc[ix]
        
        # Append the row dictionary to the list for that feature value
        DATA[val]['data_list'].append(data.iloc[ix].to_dict())
    
    # Convert lists to DataFrames outside the loop
    for val in feat_values:
        DATA[val]['data'] = pd.DataFrame(DATA[val]['data_list'], columns=data.columns)
        # Clean up the temporary list
        del DATA[val]['data_list']
    
        
    return DATA

In [12]:
divide_data(df, 'Outlook')

{'sunny': {'len': 5,
  'data':   Outlook Temperature Humidity  Windy Play
  0   sunny         hot     high  False   no
  1   sunny         hot     high   True   no
  2   sunny        mild     high  False   no
  3   sunny        cool   normal  False  yes
  4   sunny        mild   normal   True  yes},
 'rainy': {'len': 5,
  'data':   Outlook Temperature Humidity  Windy Play
  0   rainy        mild     high  False  yes
  1   rainy        cool   normal  False  yes
  2   rainy        cool   normal   True   no
  3   rainy        mild   normal  False  yes
  4   rainy        mild     high   True   no},
 'overcast': {'len': 4,
  'data':     Outlook Temperature Humidity  Windy Play
  0  overcast         hot     high  False  yes
  1  overcast        cool   normal   True  yes
  2  overcast        mild     high   True  yes
  3  overcast         hot   normal  False  yes}}

In [13]:
divide_data(df, 'Windy')

{False: {'len': 8,
  'data':     Outlook Temperature Humidity  Windy Play
  0     sunny         hot     high  False   no
  1  overcast         hot     high  False  yes
  2     rainy        mild     high  False  yes
  3     rainy        cool   normal  False  yes
  4     sunny        mild     high  False   no
  5     sunny        cool   normal  False  yes
  6     rainy        mild   normal  False  yes
  7  overcast         hot   normal  False  yes},
 True: {'len': 6,
  'data':     Outlook Temperature Humidity  Windy Play
  0     sunny         hot     high   True   no
  1     rainy        cool   normal   True   no
  2  overcast        cool   normal   True  yes
  3     sunny        mild   normal   True  yes
  4  overcast        mild     high   True  yes
  5     rainy        mild     high   True   no}}

In [14]:
divide_data(df, 'Temperature')

{'mild': {'len': 6,
  'data':     Outlook Temperature Humidity  Windy Play
  0     rainy        mild     high  False  yes
  1     sunny        mild     high  False   no
  2     rainy        mild   normal  False  yes
  3     sunny        mild   normal   True  yes
  4  overcast        mild     high   True  yes
  5     rainy        mild     high   True   no},
 'hot': {'len': 4,
  'data':     Outlook Temperature Humidity  Windy Play
  0     sunny         hot     high  False   no
  1     sunny         hot     high   True   no
  2  overcast         hot     high  False  yes
  3  overcast         hot   normal  False  yes},
 'cool': {'len': 4,
  'data':     Outlook Temperature Humidity  Windy Play
  0     rainy        cool   normal  False  yes
  1     rainy        cool   normal   True   no
  2  overcast        cool   normal   True  yes
  3     sunny        cool   normal  False  yes}}

# CODE : Information Gain

In [27]:
DATA = divide_data(df, 'Outlook')
keys = DATA.keys()
print(keys)
print(DATA['overcast']['len'])
examples = df.shape[0]
print("Total:",examples)

dict_keys(['sunny', 'rainy', 'overcast'])
4
Total: 14

In [30]:
def information_gain(data, feature):
    examples = data.shape[0]
    
    DATA = divide_data(data, feature)
    
    keys = DATA.keys()
    
    
    ent_of_children = 0.0
    
    for key in keys:
        ent_of_children +=  ( (DATA[key]['len']/examples) * entropy(DATA[key]['data']['Play']) )
        
    info_gain = entropy(data['Play']) - ent_of_children
    return info_gain

In [31]:
information_gain(df, 'Outlook')

0.24674981977443933

In [32]:
information_gain(df, 'Windy')

0.04812703040826949

In [33]:
information_gain(df, 'Temperature')

0.02922256565895487

In [34]:
information_gain(df, 'Humidity')

0.15183550136234159

# Constructing a Decision Tree

<img src="./imgs/tree.png" width=500>

<img src="https://media.giphy.com/media/cKKXNlTYino7hWNXwl/giphy.gif" width=300 align = right>
<br><br><br>

# Stopping Condition
1. Pure Node
2. Can't grow the tree anymore because of lack of points.
3. If already reach a max depth.

# CODE : Building a Decision Tree

In [41]:

labels = list(df['Play'].value_counts().index)
print(labels)
freq = list(df['Play'].value_counts().values)
print(freq)
target = labels[np.argmax(freq)]
print(target)

['yes', 'no']
[9, 5]
yes

In [42]:
class DecisionTree:
    
    # constructor
    def __init__(self, depth=0, max_depth=5):
        # Creating a Node
        self.children = {}
        self.fkey = None   # feature key
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self, data):
        features = ['Outlook', 'Temperature', 'Humidity', 'Windy']
        
        info_gains = []
        
        for f in features:
            i_gain = information_gain(data, f) # Calculate information gain
            info_gains.append(i_gain)          # Store the information gains of features 
            
        # finding the best feature
        self.fkey = features[np.argmax(info_gains)]  # find the index of best feature based on information gains store.
        
        #Spliting the Data
        DATA = divide_data(data, self.fkey)
        
        
        
        # Giving a target label to the Node
        labels = list(data['Play'].value_counts().index)
        freq = list(data['Play'].value_counts().values)
        
        self.target = labels[np.argmax(freq)]
        
        
    
        
        ###### STOPPING CONDITIONS ######
        
        have_data = 0
        keys = DATA.keys()
        
        for key in keys:
            if DATA[key]['len'] > 0:
                have_data +=1
        
        # 1. If it is pure node (if node have only 1 or no leaf)
        if have_data<2:
            return
        
    
        # 2. Early Stop if you have reached max depth
        if(self.depth >= self.max_depth):
            return
        
        
        print("\t"*self.depth + "Making tree with - ", self.fkey)
        
        
        # Recursively train child Node
        for key in keys:
            new_data = DATA[key]['data']
            self.children[key] = DecisionTree(depth = self.depth + 1)
            self.children[key].train(new_data)
            
        return  
    
    
    def predict(self, test):
        if self.children == {}:
            return self.target
        return self.children[test[self.fkey][0]].predict(test)

# Explore the Model

In [44]:
model = DecisionTree()

In [45]:
model.train(df)

Making tree with -  Outlook
	Making tree with -  Humidity
	Making tree with -  Windy

In [46]:
model

In [47]:
model.target

'yes'

In [48]:
model.fkey

'Outlook'

In [49]:
model.children

{'sunny': <__main__.DecisionTree at 0x1aa4dfed3c0>,
 'rainy': <__main__.DecisionTree at 0x1aa4cdffc70>,
 'overcast': <__main__.DecisionTree at 0x1aa4cdffc10>}

In [50]:
model.children['sunny']

In [51]:
model.children['sunny'].fkey

'Humidity'

In [56]:
model.children['sunny'].children

{'high': <__main__.DecisionTree at 0x1aa4cdfdf00>,
 'normal': <__main__.DecisionTree at 0x1aa4cdfee90>}

In [57]:
model.children['sunny'].children['high'].children

{}

In [58]:
model.children['overcast'].target

'yes'

In [59]:
model.children['overcast'].children

{}

# Prediction Time

<img src="https://media.giphy.com/media/UTpbmJmHzOOApoGRuW/giphy.gif" width=200 align=left>

In [63]:
x_test = pd.DataFrame([['sunny', 'hot', 'high', False]], columns=list(df.columns.values[:-1]))

In [64]:
x_test

  Outlook Temperature Humidity  Windy
0   sunny         hot     high  False

In [65]:
model.predict(x_test)

'no'